<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <style>
        body{
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .about p{
            text-align: center;
            caret-color: black;
        }
        .about h1{
            text-align-all: center;
            color: blue;
        }

        .tittle{
            text-align: center;
        }

    </style>
</head>

<body>
{% include 'include/header.html' %}
    <div class="about">
        <a href="{% url 'index' %}" ><h1 class="tittle">{{ about.title }}</h1></a>
        <h1>{{ about.descriptions }}</h1>
    </div>
{% include 'include/footer.html' %}
</body>
</html>     