<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>

    {% include 'include/header.html' %}

    <main>
        <p>{{ settings.title }}</p>
        <p>{{ settings.descriptions }}</p>
    </main>
    <div class="image">
        <div class="main3">
            <img src="{{ settings.image.url }}" alt="" style="max-width: 10%; max-height: 10%;">
        </div>
        <div class="main4">
            <img src="{{ settings.image.url }}" alt="" style="max-width: 10%; max-height: 10%;">
        </div>
        <div class="main5">
            <img src="{{ settings.image.url }}" alt="" style="max-width: 10%; max-height: 10%;">
        </div>
        <div class="main6">
            <img src="{{ settings.image.url }}" alt="" style="max-width: 10%; max-height: 10%;">
        </div>
        <div class="main7">
            <img src="{{ settings.image.url }}" alt="" style="max-width: 10%; max-height: 10%;">
        </div>
    </div>
    {% include 'include/footer.html' %}

</body>
</html>
